<div class="container">
			<!-- HEADING -->
		<h2 class="intro-other">Registered Students</h2>

<section class="services wow fadeInLeftBig animated" data-wow-offset="30" data-wow-duration="4s" id="services">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		<ul>
			<% @students.each do |student| %>
			<li><%= link_to student.last_name, student %></li>
			<% end %>
		</ul>
	
	</div>
	<!-- / END 4 services BOXES -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END services SECTION -->
	
</div>