<h3>
    The Stable Corps Training Awaiting Payment for Class
</h3>
<p>
    <a href="mailto:mtakrama@stablecorps.com">
        <strong>mtakrama@stablecorps.com</strong>
    </a>
        <br/>
  <a href="www.stablecorps.com" class="logo">
        <img src="/assets/logo.png" alt="Stable Corps logo"/>
        <br/>
  </a>
</p>
<p>
</p>
<p>
    Thank you for registering for the Stable Corps Training Program.
    <br/>
    <br/>
  Your enrollment will not confirmed until we have received full payment.
    <br/>
    <br/>
    In order to secure a seat, your payment must be received prior to the start of class.
    <br/>
    <br/>
    Kindly find below bank account details
</p>
<p><strong>
    Bank: 
  </strong>ECOBANK
</p>
<p><strong>
    Account Name: 
  </strong>Stable Corps
</p>
<p><strong>
    Account Number:
  </strong>0210034472780901
</p>
<p><strong>
    Branch:
  </strong>Harper Road
</p>
<p><em>
    *Kindly indicate your name provided during registration process for fast and easy processing.
  </em>
</p>
<br/>
<br/>
<p>
    You will be sent a confirmation email with all the course details once your payment is processed successfully. If we experience any problems, you will be
    notified immediately.
</p>
<br/>
<br/>
<p>
    Thank you,
</p>
<br/>
<br/>
<p>
    Training Services
</p>

<p>
    The Stable Corps Company Limited
</p>

<p>
    P. O. Box KS16999
</p>
<p>
    Kumasi - Ghana
</p>
<a href="www.stablecorps.com">www@staplecorps.com</a>
<p>
    +233(0)203732946
</p>